<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="/blog">Blog</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/blog">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/blog/create">New</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active"><a routerLink="/register" class="nav-link">Register</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/login" class="nav-link">Login</a></li>
        </ul>
    </div>
</nav>
